
	
	font-family: 'Poppins', sans-serif;
	

}
header{
	
	border-radius: 35px;
}

h1{
	color: Black;
	text-align:center;
	text-shadow: 2px 2px 5px red;
}

.nav-links{
	
	justify-content:space-around;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: Black;
	border-radius: 35px;
	border: 4px solid red;
	box-shadow: 10px 10px 5px grey;
	
}

.nav-link{
	
	font-size: 20px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	opacity: 0.9;
	transition: 0.8s;
	cursor: pointer;

	
}


.nav-link:hover {
  background-color: red;
  opacity: 1;
}

.nav-link:active {
  background-color: red;
  opacity: 1;
}

.ShopCart{
	float: right;
	display:block;
    width:95px;
    
}
